<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update person</title>
</head>
<body>

<form th:method="POST" th:action="@{/edit}" th:object="${user}">
  <label for="id">Id</label>
  <input readonly type="number" th:field="*{id}" id="id" />
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <label for="age">Enter age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>